

table{
   margin: 2%;
   table-layout: auto;
   column-width:inherit
}
table, th ,td{
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background: lightblue;
  color: black;
  font-size: 13px;

}
td { font-size: 13px;
  
  }